<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('stair-2.png') %>);">
  <div class="container text-center">
    <h1>Mentorship Programs</h1>
    <p class="mb-5 mt-1"><strong class="detail">Boost your tech career</strong> by finding or becoming a mentor!</p>
    <%# <%= link_to "Start now", "users/sign_up", class: "btn btn-gradient" unless current_user %> %>

  </div>
</div>
